@mixin stretch($top: 0, $right:0, $bottom: 0, $left: 0) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin user-select($val: none) {
  -webkit-touch-callout: $val;
  -webkit-user-select: $val;
  -khtml-user-select: $val;
  -moz-user-select: $val;
  -ms-user-select: $val;
  user-select: $val;
}

@mixin box($display: inline-block, $position: relative, $valign: top) {
  display: $display;
  position: $position;
  vertical-align: $valign;
}

@mixin rect($width, $height) {
  width: $width;
  height: $height;
}

@mixin square($side) {
  @include rect($side, $side);
}

@mixin circle($radius) {
  @include square($radius);
  border-radius: $radius;
  overflow: hidden;
}

@mixin triangle($color: white, $width: 5px, $height: 5px, $direction: top) {
  border-style: solid;
  border-width: $height $width;
  border-color: transparent;

  border-#{$direction}-width: 0;

  @if $direction == right {
    border-left-color: $color;
  } @else if $direction == bottom {
    border-top-color: $color;
  } @else if $direction == left {
    border-right-color: $color;
  } @else {
    border-bottom-color: $color;
  }
}

@mixin pseudo($display: inline-block, $position: relative) {
  content: "";
  @include box($display, $position, middle);
}

@mixin user-select($value: none) {
  -webkit-touch-callout: $value;
    -webkit-user-select: $value;
     -khtml-user-select: $value;
       -moz-user-select: $value;
        -ms-user-select: $value;
            user-select: $value;
}

@mixin link($color: $link-color, $hover: $hover-color, $type: original, $opacity: 1) {
  transition: color .2s, border-color .2s, opacity .2s;

  color: $color;
  text-decoration: none;
  @if $type == pseudo {
    border-bottom: 1px dotted tint($color, 30%);
    border-bottom: 1px dotted rgba($color, .3);
  } @else {
    border-bottom: 1px solid tint($color, 30%);
    border-bottom: 1px solid rgba($color, .3);
  }

  &:hover {
    color: $hover;
    @if $type == pseudo {
      border-bottom: 1px dotted tint($hover, 30%);
      border-bottom: 1px dotted rgba($hover, .3);
    } @else {
      border-bottom: 1px solid tint($hover, 30%);
      border-bottom: 1px solid rgba($hover, .3);
    }

    @if $opacity < 1 {
      @include opacity($opacity);
    }
  }
}

@mixin placeholder-color($color: '#ccc') {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
}

@mixin animation($args) {
  -webkit-animation: $args;
  -moz-animation: $args;
  -ms-animation: $args;
  -o-animation: $args;
  animation: $args;
}

@mixin animation-name($args...) {
  -webkit-animation-name: $args;
  -moz-animation-name: $args;
  -ms-animation-name: $args;
  -o-animation-name: $args;
  animation-name: $args;
}

@mixin translate($x: 0, $y: 0) {
  -webkit-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  transform: translate($x, $y);
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin dot-after {
  margin-right: 0;

  &:after {
      content: '\00B7';
      margin: 0 .75em;
    }
}

@mixin shadow-box {
  box-shadow: 0 2px 0 rgba(0,0,0,0.1);
  border: 1px solid $border-color;
}

@mixin separator($width: 100%, $margin: 2em, $color: $smoke, $center: true) {
  @include pseudo(block);
  @include rect($width, 1px);

  background: $color;
  @if $center == true {
    margin: $margin auto;
  } @else {
    margin: $margin 0;
  }
}
