<div class="corporate__item">
  <p><img src="[[+tv.logo]]" alt="" class="project-logo__image" style="max-width: 120px"></p>
  <h3 class="project__title">[[+tv.title_pre]] [[+pagetitle]]</h3>
  [[+tv.capacity:notempty=`<b>Вместимость:</b> [[+tv.capacity]]<br/>`]]
  [[+tv.rules:notempty=`<b>Условия:</b> [[+tv.rules]]<br/>`]]
  [[+tv.specials:notempty=`<b>Акции:</b> [[+tv.specials]]<br/>`]]
  [[+tv.booking:notempty=`<b>Забронировать корпоратив:</b> [[+tv.booking]]`]]
</div>
