--><div class="events__item project">
  <div class="event__thumb" style="background-image: url([[+tv.afisha]]);"></div>
  <h3 class="event__title"><a href="[[~[[+id]]]]">[[+pagetitle]]</a></h3>
  <div class="event__copy">[[+description]]</div>
  <a href="[[~[[+id]]]]" class="event__link"></a>
</div><!--