<footer class="footer">
	<div class="copyright">&copy; 2014&ndash;[[!currentYear]] RS Project</div>
	<nav class="foot-nav">
		<ul class="menu">
			<li class="menu__item"><a href="[[~12]]" class="menu__link">О проекте RS Project</a></li>
			<li class="menu__item"><a href="[[~5]]" class="menu__link">Вакансии</a></li>
			<li class="menu__item"><a href="[[~6]]" class="menu__link">Контакты</a></li>
		</ul>
	</nav>
	<img src="/assets/img/separators/sep_2.png">
</footer>
