<header class="header">
	<a href="[[~1]]" class="logo"><img src="/assets/img/logo.png" alt="" class="logo__img"></a href="[[~1]]">
	<nav class="nav main-nav">
		[[Wayfinder?startId=`0`&level=`1`&outerClass=`menu`&rowClass=`menu__item`&rowTpl=`menu__item`]]
	</nav>
	<span class="nav-toggle"></span>
</header>
<nav class="mobile-nav">
	[[[[If?
	&subject=`[[*template]]`
	&operand=`3`
	&then=`$project__nav`
	]]]]
	[[Wayfinder?startId=`0`&level=`1`&outerClass=`menu`&rowClass=`menu__item`&rowTpl=`menu__item`]]
</nav>