--><div class="projects__item project">
  <div class="project__thumb" style="background-image: url([[+tv.interior]]);">
    <span class="project-logo"><img src="[[+tv.logo]]" alt="" class="project-logo__image"></span>
  </div>
  <h3 class="project__title"><a href="[[~[[+id]]]]">[[+pagetitle]]</a></h3>
  <div class="project__copy">[[+description]]</div>
  <a href="[[~[[+id]]]]" class="project__link"></a>
</div><!--