.btn {
  padding: .5em 1em;
  outline: none;
}

.button-text-arrow {
	display: inline-block;
	height: .5em;
	line-height: .25;
	font-size: 28px;
	vertical-align: middle;
}

.btn-delete-left {
    float: left;
    // margin-right: 280px;
}

.btn:disabled {
  background-color: rgba(0,0,0,0.2);
}