@charset "utf-8";

.cut {
  @include user-select;

  &_size_1 {
    .cut__content p {
      &:nth-child(n+2) {
        display: none;
      }
    }
  }

  &_open {
    .cut__content {
      p {
        display: block !important;
      }
    }
  }

  &__toggle {
    @include link;

    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $gray;
    // border-bottom: 1px solid $gray;

    &:hover {
      color: $font-color;
      border-color: $gray;
    }

    &:after {
      content: 'Подробнее';
    }

    .cut_open & {
      &:after {
        content: 'Свернуть';
      }
    }
  }
}