.events {
  text-align: center;

  &__item {
    @include box;

    width: span(full);
    margin-top: 3em;
    margin-bottom: 1em;

    @include breakpoint($phablet) {
      @include gutters(4);

      width: span(6);
    }

    @include breakpoint($tablet) {
      @include gutters(8);

      width: span(4);
    }

    @include breakpoint($desktop) {
      width: span(3);
    }
  }
}


.event {
  position: relative;
  text-align: center;

  &:before {
    @include pseudo;
    @include stretch(20px, 0, 0, 0);
    box-sizing: content-box;
    transition: border $transfast;

    padding: 10px;
    border: 2px solid transparent;
  }

  &:hover {
    &:before {
      border-color: $smoke;
    }
  }

  &__thumb {
    position: relative;
    height: 400px;
    margin: 0 0 1.5em;
    background: $smoke;
    background-size: cover;
    background-position: center;

    &:after {
      @include pseudo;
      @include stretch;
      transition: opacity $transsmooth;

      background-image: radial-gradient(100px 100px, transparent, rgba(black, .6) 60px, rgba(black, .7) 60px);

      opacity: 0;

      .event:hover & {
        opacity: .5;
      }
    }

    .event-header & {
      width: 271px;
      float: left;
    }
  }

  &__title {
    font-weight: 600;
    margin: 0 0 1em;
    line-height: 1.7;
    letter-spacing: 4px;
    text-transform: uppercase;

    :link,
    :visited {
      text-decoration: none;
    }

  }

  &__copy {
    font-family: $serif-italic;
    color: #555;

    &:after {
      @include pseudo;
      @include separator(20px, 2em, $gray);
    }
  }

  &__link {
    @include stretch;
    z-index: 10;
  }

  &-header {
    @include clearfix;

    position: relative;
    margin-bottom: 50px;
    padding: 60px;
    line-height: 370px;
    border: 3px solid #eaeaea;

    &:before {
      @include pseudo;
      @include stretch(15px, 15px, 15px, 15px);

      border: 1px solid #eaeaea;
    }

    &__info {
      display: inline-block;
      width: 50%;
      margin-left: 10%;
      vertical-align: middle;
      text-align: center;
      line-height: 1.5;
    }

    .event__copy {
      margin-top: 1.5em;
    }
  }

  &__content {
    font-family: $serif;
    font-size: 18px;
    color: #555;
  }
}
