textarea {
  font-size: 100%;
}

.form {
  &-control {
    @include placeholder-color;
    @include rect(100%, 2.714em);
    box-shadow: none;

    font-size: 1em;
    display: inline-block;
    padding: .5em .75em;
    border-color: $border-color;
    border-radius: 3px;

    &:focus {
      box-shadow: none;

      border-color: $blue;
    }
  }
}

.checkbox {
  font-weight: normal;
  margin-right: 1.5em;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
}

textarea.form-control {
  height: auto;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input[type="file"],
.uneditable-input {
  border-radius: 3px;
  box-shadow: none;

  border-color: $border-color;
}
