:link,
:visited {
  transition: color $transfast;

  color: $link-color;

  &:hover {
    color: $hover-color;
  }
}

.pseudo-link {
  cursor: pointer;
  color: #1e8fc6;
  border-bottom: 1px dotted;

  &:hover {
    color: #36a9e1;
  }
}
