.logo {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  transform: translate(-50%,-30px);

  @include breakpoint($tablet) {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    margin: 0 0 2em;
    transform: none;
  }
}