.main-nav {
  display: none;
  text-transform: uppercase;  
  letter-spacing: 4px;

  .menu__item {
    height: 3em;
    padding: 0 1.5em;
    line-height: 3em;
  }

  @include breakpoint($tablet) {
    display: block;
  }
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    @include box;
  }

  &__link {
    text-decoration: none;
  }

  &_layout {
    &_vert {
      .menu__item {
        display: block;
      }
    }
  }
}

.nav-toggle {
  $size: 32px;

  @extend .rs-icon;
  @extend .icon-menu;
  @include square($size);

  font-size: $size;
  position: absolute;
  top:50%;
  left: 20px;
  line-height: $size;
  transform: translate(0, -20px);

  @include breakpoint($tablet) {
    display: none;
  }
}

.mobile-nav {
  transition: transform $transsmooth;
  position: fixed;
  overflow: auto;
  z-index: 1000;
  top: 80px;
  left: 0;
  bottom: 0;
  width: 240px;
  background: white;
  text-align: center;
  text-transform: uppercase;  
  letter-spacing: 4px;
  border-right: 1px solid $smoke;
  transform: translateX(-240px);

  .no-csstransforms3d & {
    left: -241px;
  }

  &_visible {
    transform: translateX(0);

    .no-csstransforms3d & {
      left: 0;
    }
  }

  @include breakpoint($tablet) {
    display: none;
  }

  .menu {
    padding: 2em;
  }

  .project-logo {
    width: auto;
    height: auto;
    max-width: 100%;
    margin: 1.5em auto 0;
    padding: 0 1.5em;
    text-align: center;
    box-shadow: none;
    border-radius: 0;
    line-height: 1;
  }

  .project-page__menu {
    border-top: none;
    border-bottom: 1px solid $smoke;
  }

  .menu__item {
    display: block;
    margin: 0 0 1em;
    padding: 0 1.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}