.map {
  position: relative;
  height: 320px;
  background: $smoke;

  @include breakpoint($tablet) {
    height: 500px;
  } 

  &__details {
    font-family: $serif;
    font-style: italic;
    position: absolute;
    top: 190px;
    left: 50%;
    width: 360px;
    padding: 2em;
    margin: 0 0 0 -180px;
    background: white;
    box-shadow: 0 15px 40px rgba(black, .15);

    @include breakpoint($tablet) {
      top: 300px;
    }
  }
}