.projects {
  text-align: center;

  &__item {
    @include box;

    width: span(full);
    margin-top: 3em;
    margin-bottom: 1em;

    @include breakpoint($phablet) {
      @include gutters(4);

      width: span(6);
    }

    @include breakpoint($tablet) {
      @include gutters(8);

      width: span(4);
    }

    @include breakpoint($desktop) {
      width: span(3);
    }
  }
}

.project {
  position: relative;
  text-align: center;

  &:before {
    @include pseudo;
    @include stretch(20px, 0, 0, 0);
    box-sizing: content-box;
    transition: border $transfast;

    padding: 10px;
    border: 2px solid transparent;
  }

  &:hover {
    &:before {
      border-color: $smoke;
    }
  }

  &__thumb {
    position: relative;
    height: 170px;
    margin: 0 0 1.5em;
    background: $smoke;
    background-size: cover;
    background-position: center;

    &:after {
      @include pseudo;
      @include stretch;
      transition: opacity $transsmooth;

      background-image: radial-gradient(100px 100px, transparent, rgba(black, .6) 60px, rgba(black, .7) 60px);

      opacity: 0;

      .project:hover & {
        opacity: .5;
      }
    }
  }

  &__title {
    font-weight: 600;
    margin: 0 0 1em;
    line-height: 1.7;
    letter-spacing: 4px;
    text-transform: uppercase;

    :link,
    :visited {
      text-decoration: none;
    }

  }

  &-logo {
    @include circle(100px);
    @include box;
    box-shadow: 0 2px 4px rgba(black, .1);

    position: relative;
    z-index: 5;
    margin: 35px auto;
    padding: 0 10px;
    text-align: center;
    line-height: 100px;
    background: white;

    &__image {
      vertical-align: middle;
      max-height: 100%;
    }

    .project-page__intro & {
      @include rect(300px, 190px);

      position: absolute;

      left: 50%;
      bottom: 80px;
      margin: 0 0 0 -150px;
      padding: 30px 50px;
      line-height: 130px;
      border-radius: 0;
    }
  }

  &__copy {
    font-family: $serif-italic;
    color: #555;

    &:after {
      @include pseudo;
      @include separator(20px, 2em, $gray);
    }
  }

  &__link {
    @include stretch;
    z-index: 10;
  }

  &__tour {
    width: 100%;
    height: 500px;
  }
}

.corporate__item {
  margin-bottom: 3em;
  padding-bottom: 3em;
  border-bottom: 1px solid $smoke;

  &:last-child {
    margin: 0;
    padding: 0;
    border: none;
  }
}
