.slider {
  position: relative;
  overflow: hidden;
  height: 320px;
  text-align: center;
  background: $smoke image-url('brick.jpg');
  background-position: 50% 10%;
  background-size: cover;

  @include breakpoint($tablet) {
    height: 500px;
    overflow: visible;
  }

  &__item {
    float: left;
    position: relative;
  }
}

.slick-prev,
.slick-next {
  @extend .rs-icon;
  transition: color $transfast;

  font-size: 48px;
  position: absolute;
  top: 50%;
  margin: -.5em 0 0;
  cursor: pointer;
  color: white;

  @include breakpoint($tablet) {
    top: -80px;
    left: 50%;
    color: $gray;

    &:hover {
      color: black;
    }
  }
}

.slick-prev {
  @extend .icon-arrow-left-thin;

  left: 20px;

  @include breakpoint($tablet) {
    left: 50%;
    margin: 0 0 0 -1.25em;
  }
}

.slick-next {
  @extend .icon-arrow-right-thin;

  right: 20px;

  @include breakpoint($tablet) {
    right: auto;
    margin: 0 0 0 .25em;
  }
}

.slider_home {
  .slick-prev,
  .slick-next {
    top: 50%;
    margin: -.5em 0 0;

    color: white;
  }

  .slick-prev {
    left: 20px;

    @include breakpoint($tablet) {
      left: 1em;
    }
  }

  .slick-next {
    left: auto;
    right: 20px;

    @include breakpoint($tablet) {
      right: 1em;
    }
  }
}
