.splash {
  font: 100%/1.5 $splash-font;
  min-width: 768px;
  text-align: center;
  background: #f5f5f5 image-url('brick.jpg');

  &:before {
    @include pseudo;

    height: 100%;
    margin-right: -.25em;
  }

  &__content {
    @include box($valign: middle);

    overflow: hidden;
    width: 600px;

    .logo {
      display: inline-block;
      margin: 0 0 1em;
      padding: 0;
    }
  }

  &__date {
    display: block;
    font-family: $serif-bold;
    font-size: 40px;
    margin: .5em 0;
    text-transform: uppercase;
  }

  &__opening {
    font-size: 28px;
    display: inline-block;
    margin: .25em 0;
    padding: .125em .5em;
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 2px;
  }

  &__more {
    @include rect(400px, 180px);

    margin: 0 auto;
    line-height: normal;
    text-transform: uppercase;
    background: image-url('braces.png') 0 50% no-repeat;
  }

  &__more-title {
    display: inline-block;
    margin: .5em 0;
  }

  &__phone {
    font-family: $serif;
    font-size: 58px;
    display: block;
    line-height: 1.1;
    margin: 0 0 .35em;
  }

  &__url {
    transition: opacity $transfast;

    font-size: 24px;
    display: block;
    text-decoration: none;
    color: black;

    &:hover {
      opacity: .7;
    }
  }

  &__hash {
    font-size: 26px;
    display: block;
  }

  .slogan {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
  }

  .menu-link {
    font-family: $serif;
    font-size: 40px;
    display: inline-block;
    margin: 0 0 .25em;
    padding: .125em .7em .125em .75em;
    color: white;
    text-shadow: 1px 1px 1px rgba(black, .75);
    text-transform: uppercase;
    text-decoration: none;
    background: #c00;
    box-shadow: 2px 2px 2px rgba(black, .5);
  }
}
