.title {
  &_level {
    &_2 {
      font-size: 1.5em;
      font-weight: 600;
      margin: 0 auto 1.75em;
      text-transform: uppercase;
      letter-spacing: 6px;

      &:after {
        @include pseudo;
        @include separator(30px, 1em, $gray, false);
      }
    }

    &_3 {
      color: $font-color;
      font-family: $sans-serif;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
    
    &_4 {
      font-family: $serif;
      font-size: 1.125em;
      font-style: italic;
      margin-bottom: 2em;
    }
  }
}