[[$head]]
<body class="page">
[[$gtag]]
[[$header]]
<section class="section section_tall">
    <div class="section__content">
        <div class="article">
            <h2 class="title title_level_2">[[*pagetitle]]</h2>
            [[getResources?parents=`3`&tpl=`contacts__item`&includeTVs=`true`&sortby=`pagetitle`&sortdir=`ASC`&limit=`0`]]
        </div>
    </div>
</section>
[[$footer]]
</body>
</html>