[[$head]]
<body class="page">
[[$gtag]]
[[$header]]
<section class="section">
  <div class="section__content">
    <h2 class="section__title">События</h2>
    <div class="section__copy">Ознакомьтесь с грядущими событиями и специальными предложениями</div>
    <div class="events"><!--
      [[!getResources?parents=`4`&tpl=`events__item`&includeTVs=`true`&sortby=`RAND()`&sortdir=`ASC`&limit=`8`]]
      -->
    </div>
  </div>
</section>
[[$footer]]
</body>
</html>