[[$head]]
<body class="page">
[[$gtag]]
[[$header]]
<section class="section section_tall">
    <div class="section__content">
        <div class="event-header">
            <div class="event__thumb" style="background-image: url('[[*afisha]]');"></div>
            <div class="event-header__info">
                <h3 class="title title_level_3">[[*pagetitle]]</h3>
                <p class="event__copy">[[*description]]</p>
            </div>
        </div>
        <div class="article event__content">
            [[*content]]
        </div>
    </div>
</section>
[[If?
&subject=`[[*gallery]]`
&operator=`notempty`
&then=`
<section class="section section_tall" id="gallery">
    <div class="section__content">
        <h2 class="section__title">Фотоотчет</h2>
        <div class="section__copy"></div>
    </div>
    <div class="slider">
    [[Gallery? &album=`[[*gallery]]`&thumbHeight=`500`&thumbWidth=`674`&useCss=`0`&thumbTpl=`slider__item`&itemCls=`slider__item`]]        
    </div>
</section>
`]]
[[$footer]]
</body>
</html>