[[$head]]
<body class="page">
[[$gtag]]
[[$header]]
<section class="section section_tall">
    <div class="section__content">
        <div class="article">
            <h2 class="title title_level_2">[[*pagetitle]]</h2>
            [[*content]]
        </div>
    </div>
</section>
[[$footer]]
</body>
</html>