[[$head]]
<body class="page">
[[$gtag]]
[[$header]]
<section class="section">
  <div class="slider slider_home">
[[Gallery? &tag=`slider`&thumbHeight=`500`&thumbWidth=`674`&useCss=`0`&thumbTpl=`slider__item`&itemCls=`slider__item`&limit=`10`]]    
  </div>
</section>
<section class="section">
  <div class="section__content">
    <div class="projects"><!--
      [[getResources?parents=`3`&tpl=`projects__item`&includeTVs=`true`&sortby=`menuindex`&sortdir=`ASC`&limit=`0`]]
      -->
    </div>
  </div>
</section>
<section class="section">
  <div class="section__content">
    <h2 class="section__title">События</h2>
    <div class="section__copy">Ознакомьтесь с грядущими событиями и специальными предложениями</div>
    <div class="events"><!--
      [[!getResources?parents=`4`&tpl=`events__item`&includeTVs=`true`&sortby=`RAND()`&sortdir=`ASC`&limit=`8`]]
      -->
    </div>
  </div>
</section>
[[$footer]]
</body>
</html>