[[$head]]
<body class="page project-page">
[[$gtag]]
[[$header]]
[[$project__nav]]
<section class="section">
    <div class="project-page__intro" style="background-image: url([[*jumbo]]);"></div>
</section>
<section class="section">
    <div class="section__content project-page__header">
        <h1 class="project-page__title">[[*pagetitle]]</h1>
        <div class="project-page__copy">[[*introtext]]</div>
        <img src="/assets/img/separators/sep_2.png" class="separator-image">
    </div>
</section>
<section class="section project-page__about" id="about">
    <div class="project-page__back" style="background-image: url([[*interior]])"></div>
    <div class="section__content">
        <div class="project-page__description">
            <article class="project-article cut cut_size_1">
                <h2 class="project-article__title">[[*pagetitle]]</h2>
                <h4 class="title title_level_4">О [[*title_about]]</h4>
                <div class="project-article__text cut__content">[[*content]]</div>
                <span class="cut__toggle"></span>
            </article>
        </div>
    </div>
</section>
[[If?
&subject=`[[*shef_on]]`
&operator=`equal`
&operand=`1`
&then=`
<section class="section section_tall" id="shef">
    <div class="section__content">
        <h2 class="section__title">Шеф-повар</h2>
        <div class="section__copy">[[*shef_copy]]</div>
    </div>
</section>
<section class="section project-page__shef">
    <div class="project-page__back" style="background-image: url([[*shef_photo]])"></div>
    <div class="section__content">
        <div class="project-page__description">
            <article class="project-article cut cut_size_1">
                <h2 class="project-article__title">[[*shef_name]]</h2>
                <h4 class="title title_level_4">Шеф-повар</h4>
                <div class="project-article__text cut__content">[[*shef_bio]]</div>
                <span class="cut__toggle"></span>
            </article>
        </div>
    </div>
</section>
`]]
[[If?
&subject=`[[*menu_pdf]]`
&operator=`notempty`
&then=`
<section class="section section_tall" id="menu">
    <div class="section__content hidden">
        <h2 class="section__title">Меню</h2>
        <div class="section__copy">Красочные фотографии популярных позиций меню, которые вы можете попробовать, оказавшись у нас в гостях</div>
    </div>
    <div class="slider hidden"></div>
    <div class="project-page__menu-download">
        <h2 class="section__title">[[*price_name]] [[*title_case]] [[*pagetitle]]</h2>
        <span class="icon-book-open project-page__menu-download-icon"></span> <a href="[[*menu_pdf]]" class="project-page__menu-download-link">Загрузить</a>
    </div>
</section>
`]]
<section class="section section_tall" id="gallery">
    <div class="section__content">
        <h2 class="section__title">Фотогалерея</h2>
        <div class="section__copy">Интерьеры [[*title_case]] [[*pagetitle]] крупным планом. Вдохновляйтесь вместе с нами находками дизайнеров, их вниманием к деталям и оригинальной атмосферой.</div>
    </div>
    <div class="slider">
    [[Gallery? &album=`[[*gallery]]`&thumbHeight=`500`&thumbWidth=`674`&useCss=`0`&thumbTpl=`slider__item`&itemCls=`slider__item`]]
        
    </div>
</section>


[[!getResources?parents=`4`&tpl=`events__item`&includeTVs=`true`&sortby=`RAND()`&sortdir=`ASC`&limit=`8`&tvFilters=`place==[[*id]]`&tplWrapper=`project__events`]]


[[If?
&subject=`[[*panorama]]`
&operator=`notempty`
&then=`
<section class="section section_tall" id="tour">
    <div class="section__content">
        <h2 class="section__title">3D тур</h2>
    </div>
    <div class="project__tour">
        <iframe src="[[*panorama]]" frameborder="0" scrolling="no" width="100%" height="100%" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    </div>
</section>
`]]
<section class="section section_tall" id="contact">
    <div class="section__content">
        <h2 class="section__title">Контакты</h2>
        <div class="section__copy">Необходимая информация и координаты для тех, кто собирается посетить [[*title_pre]] [[*pagetitle]]</div>
    </div>
    <div class="map">
        [[!mapexDrawMap? &map=`[[*map]]`&tpl=`projectMapTpl`&mapId=`yMap`&mapWidth=`100%`&mapHeight=`100%`&includeJs=`0`]]
        <div class="map__details">
            Адрес: [[*address]] <br>
            Телефон: [[*phone]] <br>
            Время работы: [[*business_hours]]
        </div>
    </div>
</section>

[[$footer]]
</body>
</html>