<nav class="project-page__nav">
    <span class="project-page__nav-toggle"></span>
    <div class="project-logo">
        <img src="[[*logo]]" class="project-logo__image" alt="">
    </div>
    <ul class="menu menu_layout_vert project-page__menu">
        <li class="menu__item"><a class="menu__link" href="#about">О [[*title_about]]</a></li>
        [[If?
        &subject=`[[*shef_on]]`
        &operator=`equal`
        &operand=`1`
        &then=`
        <li class="menu__item"><a class="menu__link" href="#shef">Шеф-повар</a></li>
        `]]
        [[If?
        &subject=`[[*menu_pdf]]`
        &operator=`notempty`
        &then=`
        <li class="menu__item"><a class="menu__link" href="#menu">[[*price_name]]</a></li>
        `]]
        <li class="menu__item"><a class="menu__link" href="#gallery">Фотогалерея</a></li>

[[!getResources?parents=`4`&tpl=`@INLINE [[+id]]`&tvFilters=`place==[[*id]]`&tplWrapper=`menu__project-events`]]

        [[If?
        &subject=`[[*panorama]]`
        &operator=`notempty`
        &then=`
        <li class="menu__item"><a class="menu__link" href="#tour">3D тур</a></li>
        `]]
        <li class="menu__item"><a class="menu__link" href="#contact">Контакты</a></li>
    </ul>
</nav>