[[$head]]
<body class="page splash">
	<div class="splash__content">
		<span class="logo"><img src="/assets/img/logo.png" class="logo__img"></span>
		<div class="slogan">Работаем для людей</div>
<img src="/assets/img/separators/sep_1.png">
<img src="/assets/img/logos/mishkin_f.png">
<img src="/assets/img/separators/sep_1.png">
<br>
<a href="/assets/pdf/mishkin-menu.pdf" target="_blank" class="menu-link">Меню</a>
<br>
<img src="/assets/img/separators/sep_2.png">
<div class="splash__more">
<span class="splash__more-title">Подробности:</span>
<span class="splash__phone">50-60-70</span>
<span class="splash__hash">#ЖАРИМПОРАЗНОМУ</span>
<a href="http://vk.com/mishkinomsk" target="_blank" class="splash__url">vk.com/mishkinomsk</a>
</div>
	</div>
</body>
</html>