.project-page {

  &__title {
    font-size: 24px;
    font-weight: 600;
    margin: 3em 0 0;
    text-transform: uppercase;
    letter-spacing: 12px;
    text-align: center;

    &:after {
      @include pseudo;
      @include separator(30px, 1em, black);

      height: 4px;
    }
  }

  &__copy {
    @extend .section__copy;
  }

  &__about {

  }

  &__back {
    height: 320px;
    background: $smoke image-url('brick.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;

    @include breakpoint($tablet) {
      height: 760px;
    }
  }

  &__description {

    z-index: 20;
    margin: -1em -20px 0;
    background: white;
    border-bottom: 1px solid $smoke;

    @include breakpoint($tablet) {
      position: absolute;
      left: auto;
      right: auto;
      width: 36%;
      min-width: 450px;
      margin: -500px 0 0;
      box-shadow: 0 10px 25px rgba(black, .15);
      border: none;
    }
  }

  &__intro {
    position: relative;
    height: 320px;
    text-align: center;
    background-color: $smoke;
    background-attachment: fixed;
    background-attachment: initial;
    background-size: cover;
    background-position: 50% 0;

    @include breakpoint($tablet) {
      height: 500px;    
    }
  }

  &__menu-download {
    max-width: 60em;
    padding: 3em 3em 6em;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid $smoke;

    @include breakpoint($tablet) {
      margin: 8em auto 0;
      border: 2px solid $smoke;
    }

    &-icon {
      font-size: 32px;
      margin-right: .5em;
      vertical-align: middle;
    }

    &-link {
      @include link;

      letter-spacing: 3px;
      text-decoration: none;
      border-bottom: 1px solid $gray;
    }

    .section__title {
      max-width: 18em;
      line-height: 1.7;
      background: white;

      @include breakpoint($tablet) {
        margin: -3.25em auto 3em;
      }
    }
  }

  &__nav {
    display: none;
    position: fixed;
    z-index: 1100;
    width: 240px;
    min-width: 200px;
    top: 225px;
    left: 0;
    background: white;
    box-shadow: 0 15px 40px rgba(black, .15);
    transition: transform $transfast;
    transform: translateX(0);

    .project-logo {
      width: 100%;
      margin: 1.5em auto;
      padding: 0 3em;
      text-align: center;
      box-shadow: none;
      border-radius: 0;
    }

    @include breakpoint($tablet) {
      display: block;
    }

    &_offscreen {
      transform: translateX(-240px);
    }

    .menu__item {
      margin-bottom: 2em;
    }

    &-toggle {
      @extend .rs-icon;
      @extend .icon-left-open;

      @include rect(36px, 40px);

      font-size: 24px;
      position: absolute;
      left: 100%;
      top: 50px;
      line-height: 38px;
      text-align: center;
      cursor: pointer;
      background: darken(white, 3%);
      box-shadow: 0 4px 8px rgba(black, .15),
                  10px 0 10px -8px rgba(black, .15) inset;

      .project-page__nav_offscreen & {
        @extend .icon-doc-text;

        font-size: 20px;
      }
    }

  }

  &__menu {
    padding: 2em;
    text-align: center;
    border-top: 1px solid $smoke;

    .menu__item {
      letter-spacing: 4px;
      text-transform: uppercase;
    }
  }
}

.project-article {
  padding: 3em;
  line-height: 1.7;
  color: #555;

  @include breakpoint($tablet) {
    padding: 3.75em;
  }

  &__title {
    @extend .project__title;

    margin: 0 0 1em;

    &:before {
      @include separator(16px, 1em, black, false);
      margin-top: 0;
    }
  }

  &__text {
    font-family: $serif;
  }
}