.footer {
  @include container(100%);
  
  padding: 3em 0;
  text-align: center;
  border-top: 1px solid $smoke;

  @include breakpoint($tablet) {
    padding-bottom: 5em;
  }

  .copyright {
    margin-bottom: 2em;

    @include breakpoint($tablet) {
      @include span(3 of 12);
    }
  }
}

.foot-nav {

  @include breakpoint($tablet) {
    @include span(6 of 12);
    @include post(3 of 12);
  }

  margin-bottom: 2em;

  .menu__item {
    font-family: $serif-italic;
    margin: 0 1em;
  }

  .menu__link {
    color: #555;
  }
}