.header {
  position: relative;
  width: 100%;
  height: 80px; 
  max-width: 1180px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid $smoke;

  @include breakpoint($tablet) {
    width: 95%;
    height: auto; 
    padding: 2em;
  }
}