.navbar {
  min-height: $navbar-height;

  @include breakpoint($tablet) {
    position: fixed;
    z-index: 5;
    width: 100%;
    top: 0;
    left: 0;
  }

  &-brand {
    height: $navbar-height;
    background: rgba(black,.2);
    text-align: center;

    span {
      font-family: 'Kaushan Script', cursive;
      color: #fff;
      text-shadow: none;
    }

    &.noBg {
      background: transparent;
    }

    @include breakpoint($tablet) {
      width: $sidebar-width-min;
      padding: 8px 0;

      span {
        display: none;
      }
    }

    @include breakpoint(992px) {
      width: $sidebar-width;
      padding: 11px 0 12px;

      span {
        display: block;
      }
    }
  }
}
