// font-face($name, $font-files, $eot, $weight, $style)

@font-face {
  font-family: 'texgyrescholaregular';
  src: url('../fonts/texgyreschola-regular.woff'),
       url('../fonts/texgyreschola-regular.ttf'),
       url('../fonts/texgyreschola-regular.svg'),
       url('../fonts/texgyreschola-regular.eot');
}

@font-face {
  font-family: 'texgyrescholabold';
  src: url('../fonts/texgyreschola-bold.woff'),
       url('../fonts/texgyreschola-bold.ttf'),
       url('../fonts/texgyreschola-bold.svg'),
       url('../fonts/texgyreschola-bold.eot');
}

@font-face {
  font-family: 'texgyrescholaitalic';
  src: url('../fonts/texgyreschola-italic.woff'),
       url('../fonts/texgyreschola-italic.ttf'),
       url('../fonts/texgyreschola-italic.svg'),
       url('../fonts/texgyreschola-italic.eot');
}

@font-face {
  font-family: 'texgyrescholabolditalic';
  src: url('../fonts/texgyreschola-bolditalic.woff'),
       url('../fonts/texgyreschola-bolditalic.ttf'),
       url('../fonts/texgyreschola-bolditalic.svg'),
       url('../fonts/texgyreschola-bolditalic.eot');
}
